// FORMS

form
	content-block()
	padding 0 $x-space
	
	@media screen and (min-width: $bigger-x-space)
		padding 0 ($x-space*2)
		
	@media screen and (min-width: $bigger-horizontal-x-space)
		padding 0 ($x-space*4)
		
	ul
		no-bullets()
		
		li
			margin-bottom $x-space

input, textarea
	background $white
	border 1px solid $soakedcement
	border-radius 2px
	color $tarmac
	font-family $font-family
	font-size 1em
	line-height 1.6
	padding ($x-space/2)
	margin 0
	width 100%
	
button-style()
	background $wetcement
	border 2px solid $soakedcement
	border-radius 4px
	color $black
	cursor pointer
	font-family $font-family
	font-size 1em
	line-height 1.6
	margin $x-space
	padding ($x-space/2) $x-space
	text-decoration none
	width auto
	
	&:hover, &:active
		background $tarmac
		border-color $tarmac
		color $white
	
button, input.button, input#submit
	button-style()
	
.search-form
	content-block()
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content flex-start
	align-content stretch
	align-items center
	padding-left 0
	padding-right 0
	width auto
	
	label
		margin-left $x-space
		margin-right $x-space
		order 0
		flex 0 0 auto
		align-self auto
		
		@media screen and (min-width: $bigger-x-space)
			margin-left ($x-space*2)
		
		@media screen and (min-width: $bigger-horizontal-x-space)
			margin-left ($x-space*4)
		
	.text
		width ($x-space*3) // override 100% effectively
		order 0
		flex 10 0 auto
		align-self auto
		
	.submit
		margin-right $x-space
		order 0
		flex 0 0 auto
		align-self auto
		
		@media screen and (min-width: $bigger-x-space)
			margin-right ($x-space*2)
		
		@media screen and (min-width: $bigger-horizontal-x-space)
			margin-right ($x-space*4)