// This is where all the partials are married together. In the following order:

@charset "UTF-8";


// WordPress Theme info (required to make the theme work)

@import "theme-info"


// VARIABLES AND MIXINS

@import "colours"
// set the variables, and apply them too
@import "decorative"


// TYPOGRAPHY (and fonts)

@import "fonts"


// LAYOUT

@import "layout"


// MEDIA

@import "media"


// FORMS

@import "forms"


// MODULAR ELEMENTS

@import "header"
@import "footer"
@import "blog"
@import "comments"
@import "projects"
@import "code"
@import "home"


// IMAGERY

@import "imagery"