<footer role="contentinfo">
	<h3>A bit about me</h3>
	<p>Hello! I&#8217;m a designer from the UK, living in Sweden, and working as one half of <a href="https://ind.ie">Ind.ie</a>. We make an app called <a href="https://better.fyi">Better</a> that protects you while you’re browsing the web. My new book <a href="https://abookapart.com/products/accessibility-for-everyone">Accessibility For Everyone</a> is available in paperback and ebook from A Book Apart.</p>
	<small class="site-info">Copyright &copy; <a href="{{ .Site.BaseURL }}" >{{ .Site.Title }}</a>, {{ now.Format "2006" }}.</small>
</footer>
