{{ $featured_image := .Params.featured_image }}
<article>
	{{ if .Params.featured_image }}
		{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
	{{ $featured_image := (trim $featured_image "/") | absURL }}
		<a href="{{.URL}}">
		<img src="{{ $featured_image }}" alt="image from {{ .Title }}">
		</a>
	{{ end }}
	<div class="{{ if .Params.featured_image }} featured-image{{ end }}">
	<h1>
		<a href="{{.URL}}">
		{{ .Title }}
		</a>
	</h1>
	<div>
		{{ .Summary }}
	</div>
		<a href="{{.URL}}">{{$.Param "read_more_copy" | default "read more" }}</a>
	</div>
</article>
