figure
	margin 1em 0 2em
	
	a
		display block

img
	margin 1em 0
	max-width 100% // don’t exceed width of viewport
	
	figure &
		margin-bottom 0
		
.posts-list
	padding-left 0
	
	li
		list-style-type none