// NAKED ELEMENTS

figure
	margin 1em 0 1em
	
	a
		display block

img
	margin 1em 0
	max-width 100% // don’t exceed width of viewport
	
	figure &
		margin-bottom 0
		
ul, ol
	margin 1em
	padding-left 1em

blockquote
	margin 1em

// CUSTOM COMPONENTS (CLASSES AND IDs)
		
.posts-list
	padding-left 0
	
	li
		list-style-type none