.posts-list
	margin 0
	padding-left 0
	
	li
		list-style-type none
		
	h2, h3
		a
			text-decoration none
			
	.entry-meta
		font-family $font-family-black
		font-weight bold

.commentlist
	margin-top 2em
	padding-left 0
	
	li
		list-style-type none
		margin-bottom 3em
		padding-left 0
		
		.comment-author
			display grid
			grid-template-columns auto 1fr
			grid-template-areas "a b"\
				"a c"
		
		.avatar
			grid-area a
			margin 0 0 1em 0
		
		.fn
			display block
			grid-area b
			margin-left $layout-unit
			
		.comment-meta
			grid-area c
			
			a
				align-self flex-start
				background none