body
	background #ADF1DC
	color #28508F

a, a:hover, a:visited, a:active
	color #28508F
	
.site-header
	background #ADF1DC

#content
	background #C9FFEE
	
.site-footer
	background #ADF1DC
	
hr
	border #296BD2 dashed 0.1em
	margin 2em 0
	
// invert colours for code

pre
	background #28508F
	
	code
		color #C9FFEE
		

// give navigation links darker backgrounds that gradate to lightness
// take initial value, and darken by X
$darkened = lightness(#296BD2, 60%)
// take darkened value and make transparent
$darkenedtransparent = alpha($darkened, 0.9)

.navigation-menu
	ul
		background alpha($darkened, 0.1)
		
		li:nth-of-type(1) a
			background alpha($darkened, 0.9)
			
		li:nth-of-type(2) a
			background alpha($darkened, 0.75)
			
		li:nth-of-type(3) a
			background alpha($darkened, 0.6)
			
		li:nth-of-type(4) a
			background alpha($darkened, 0.45)
			
		li:nth-of-type(5) a
			background alpha($darkened, 0.3)
		
		li:nth-of-type(6) a
			background alpha($darkened, 0.15)