// 003 PALE PURPLE + MAROON TEXT AND PINK ACCENT
$primary-bg = #ECE6FF
$secondary-bg = #E2D8FF
$text = #832D3F
$linktext = #BB1D37
$darklinktext = #3D1D2E
$brilliant = #FF5268
$tab-two = #F0CBE6
$tab-three = #F3B4CE
$tab-four = #F79CB5
$tab-five = #FA849C
$tab-six = #FE6A82

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-003.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-003.svg') repeat
	background-size 20em
