// 008 PALE PINK + BLUE TEXT
$primary-bg = #FFD8D5
$secondary-bg = #FECCC8
$text = #004D67
$linktext = #006181
$darklinktext = #07323F
$brilliant = #009ED8
$tab-two = #D4CED5
$tab-three = #A9C5D7
$tab-four = #7DBBD6
$tab-five = #50B2D8
$tab-six = #20A8D8

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-008.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-008.svg') repeat
	background-size 20em
