// 005 PALE PINK + BROWN TEXT AND RUST ACCENT
$primary-bg = #FFE7F6
$secondary-bg = #FFD9F1
$text = #6C4516
$linktext = #985700
$darklinktext = #1E1909
$brilliant = #B77136
$tab-two = #F3D3D6
$tab-three = #E8C0B7
$tab-four = #DBAB96
$tab-five = #D09977
$tab-six = #C38558

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-005.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-005.svg') repeat
	background-size 20em
