// 006 PALE PURPLE + DARK PINK TEXT (24ways theme)
$primary-bg = #F3E8FE
$secondary-bg = #EDDBFF
$text = #98022E
$linktext = #AB0233
$darklinktext = #131426
$brilliant = #3882F8
$tab-two = #A7E3F1
$tab-three = #8FCEF3
$tab-four = #72B4F4
$tab-five = #559CF6
$tab-six = #9A6DF9