// 009 PALE GREEN + BLUE TEXT AND BLUE ACCENT
$primary-bg = #C9FFEE
$secondary-bg = #ADF1DC
$text = #28508F
$linktext = #0849B0

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-01.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-01.svg') repeat
	background-size 20em
