// 005 PALE PINK + BROWN TEXT AND RUST ACCENT
$primary-bg = #FFE7F6
$secondary-bg = #FFD9F1
$text = #6B451B
$linktext = #975700
$darklinktext = #131426
$brilliant = #3882F8
$tab-two = #A7E3F1
$tab-three = #8FCEF3
$tab-four = #72B4F4
$tab-five = #559CF6
$tab-six = #9A6DF9