// 010 GREY + DARK GREY TEXT WITH RED ACCENT (Ind.ie theme)
$primary-bg = #D9D9D9
$secondary-bg = #D0D0D0
$text = #404040
$linktext = #A50001
$darklinktext = #131426
$brilliant = #3882F8
$tab-two = #A7E3F1
$tab-three = #8FCEF3
$tab-four = #72B4F4
$tab-five = #559CF6
$tab-six = #9A6DF9