// 009 PALE GREEN + BLUE TEXT AND BLUE ACCENT
$primary-bg = #C9FFEE
$secondary-bg = #ADF1DC
$text = #264E91
$linktext = #0446A6
$darklinktext = #131426
$brilliant = #3882F8
$tab-two = #AFEAF0
$tab-three = #97D5F3
$tab-four = #80C1F4
$tab-five = #68ACF5
$tab-six = #5299F7

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-009.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-009.svg') repeat
	background-size 20em
