// Plug colour variables into here

// Make accent colour from text colour (don’t use for text colours--too unpredictable!)
$accent = lightness(saturation($text, 90%),70%)

// make darker colour for accent
$accent-darkened = lightness($accent, 60%)
// make brighter colour for accent, saturate more to make up for alpha in link underlines
$accent-brightened = lightness(saturation($accent, 60%),70%)

&
	background $secondary-bg
	color $text

a
	color $text

	&:hover, &:active
		color $linktext
		transition 0.2s

p a, p a:hover, ul a, ul a:hover, ol a, ol a:hover
	background-image linear-gradient(to top, alpha($primary-bg, 0) 0.02em, alpha($accent-brightened, 0.8) 0.03em, alpha($accent-brightened, 0.8) 0.13em, alpha($primary-bg, 0) 0.14em)
	text-decoration none

h1 a, h2 a, h3 a
	// remove gradient underline
	background none

// add SVG repeating image to background
.site-header
	background $secondary-bg url('/images/tile-01.svg') repeat


.site-title
	a
		background $secondary-bg

// add SVG repeating image to background
#content
	background $primary-bg url('/images/tile-01.svg') repeat

.site-footer
	background $secondary-bg

hr
	border $accent dashed 0.1em
	margin 2em 0

// invert colours for code

pre
	background $text

	code
		color $primary-bg

.navigation-menu
	ul
		background alpha($accent-darkened, 0.1)
		li
			background $secondary-bg

.navigation-menu
	background alpha(lightness($accent, 90%), 0.1)

	// set active navigation link background colour
	li.active a
		background alpha($primary-bg, 0.5)

&.blog
	// set active navigation link background colour
	.navigation-menu li a[href="/posts/"]
		background alpha($primary-bg, 0.5)

// Mixin for colour highlighting and underlines for menu navigationcolor lightness($accent-brightened, 30%)
highlight-and-underline-on-interaction()
	position relative

	&:after
		box-sizing border-box
		border-bottom 0.15em alpha($text, 0.5) solid
		content ""
		display block
		height 0.15em
		margin-top -0.2em
		margin-bottom 0.05em
		position relative
		width auto

// links before and after active navigation (relies on order of navigation being reflected)
// darken text accordingly
&.home .navigation-menu a[href="/about-me/"],
&.about-me .navigation-menu a[href="/"],
&.about-me .navigation-menu a[href="/book/"],
&.book .navigation-menu a[href="/about-me/"],
&.book .navigation-menu a[href="/posts/"],
&.blog .navigation-menu a[href="/book/"],
&.blog .navigation-menu a[href="/projects/"],
&.past-projects .navigation-menu a[href="/posts/"],
&.past-projects .navigation-menu a[href="/speaking/"],
&.speaking .navigation-menu a[href="/projects/"],
&.speaking .navigation-menu a[href="/contact-me/"],
&.contact-me .navigation-menu a[href="/speaking/"]
	background alpha($accent-darkened, 0.1)
	color darken($text, 10%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// links second before and after active navigation
// darken text accordingly
&.home .navigation-menu a[href="/book/"],
&.about-me .navigation-menu a[href="/posts/"],
&.book .navigation-menu a[href="/"],
&.book .navigation-menu a[href="/projects/"],
&.blog .navigation-menu a[href="/about-me/"],
&.blog .navigation-menu a[href="/speaking/"],
&.past-projects .navigation-menu a[href="/book/"],
&.past-projects .navigation-menu a[href="/contact-me/"],
&.speaking .navigation-menu a[href="/posts/"],
&.contact-me .navigation-menu a[href="/projects/"]
	background alpha($accent-darkened, 0.2)
	color darken($text, 15%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// links third before and after active navigation
// darken text accordingly
&.home .navigation-menu a[href="/posts/"],
&.about-me .navigation-menu a[href="/projects/"],
&.blog .navigation-menu a[href="/"],
&.blog .navigation-menu a[href="/contact-me/"],
&.book .navigation-menu a[href="/speaking/"],
&.past-projects .navigation-menu a[href="/about-me/"],
&.speaking .navigation-menu a[href="/book/"],
&.contact-me .navigation-menu a[href="/posts/"]
	background alpha($accent-darkened, 0.3)
	color darken($text, 20%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// links fourth before and after active navigation
// darken text accordingly
&.home .navigation-menu a[href="/projects/"],
&.about-me .navigation-menu a[href="/speaking/"],
&.book .navigation-menu a[href="/contact-me/"],
&.past-projects .navigation-menu a[href="/"],
&.speaking .navigation-menu a[href="/about-me/"],
&.contact-me .navigation-menu a[href="/book/"]
	background alpha($accent-darkened, 0.4)
	color darken($text, 25%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// links fifth before and after active navigation
// darken text accordingly
&.home .navigation-menu a[href="/speaking/"],
&.about-me .navigation-menu a[href="/contact-me/"],
&.past-projects .navigation-menu a[href="/"],
&.speaking .navigation-menu a[href="/"],
&.contact-me .navigation-menu a[href="/about-me/"]
	background alpha($accent-darkened, 0.5)
	color darken($text, 30%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// links sixth before and after active navigation
// darken text accordingly
&.home .navigation-menu a[href="/contact-me/"]
&.contact-me .navigation-menu a[href="/"]
	background alpha($accent-darkened, 0.6)
	color darken($text, 35%)

	&:hover, &:active
		highlight-and-underline-on-interaction()

// add colour behind block elements (but inline them) so image doesn’t make it hard to read
#content
	h1, h2, h3, h4, h5, h6, article p, article ul, article ol, article blockquote, .posts-list h3 a, .posts-list .entry-meta, .posts-list p
		display inline-block
		background $primary-bg
		box-shadow alpha($primary-bg, 0.8) 0 0 0.5em 0.5em

	.posts-list h3
		display block
