// Choose which colour theme to load depending on the body class

// LOAD 001 for the following pages
body.colours-001
	@import "colour-theme-001"
	@import "colour"
	
// LOAD 002 for the following pages
body.colours-002
	@import "colour-theme-002"
	@import "colour"

// LOAD 003 for the following pages
body.colours-003
	@import "colour-theme-003"
	@import "colour"

// LOAD 004 for the following pages
body.colours-004
	@import "colour-theme-004"
	@import "colour"
	
// LOAD 005 for the following pages
body.colours-005
	@import "colour-theme-005"
	@import "colour"

// LOAD 006 for the following pages
body.colours-006
	@import "colour-theme-006"
	@import "colour"
	
// LOAD 007 for the following pages
body.colours-007
	@import "colour-theme-007"
	@import "colour"
	
// LOAD 008 for the following pages
body.colours-008
	@import "colour-theme-008"
	@import "colour"