$off-black = #262626

body
	color $off-black

h1, h2, h3, h4, h5, h6
	color black
	
	a
		color black

a, a:hover, a:visited, a:active
	color off-black
	
.site-header
	background rgba(0,0,0,0.2)

#content
	background rgba(0,0,0,0.1)
	
.site-footer
	background rgba(0,0,0,0.2)