// 007 PALE YELLOW + NAVY TEXT
$primary-bg = #FDFCA7
$secondary-bg = #EFF18C
$text = #203D5F
$linktext = #004A5F
$darklinktext = #000000
$brilliant = #0075E0
$tab-two = #D1E5B2
$tab-three = #A7CFBC
$tab-four = #7DBAC5
$tab-five = #51A3CE
$tab-six = #228CD8

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-007.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-007.svg') repeat
	background-size 20em
