// 001 GREY + DARK GREY TEXT (DEFAULT)
$primary-bg = #E9E9E9
$secondary-bg = #D0D0D0
$text = #444040
$linktext = #313131
$darklinktext = #020202
$brilliant = #7E8080
$tab-two = #D7D7D7
$tab-three = #C5C6C6
$tab-four = #B3B4B4
$tab-five = #A2A4A4
$tab-six = #909292

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-001.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-001.svg') repeat
	background-size 20em
