// 002 PALE BLUE + PURPLE TEXT AND PURPLE ACCENT
$primary-bg = #C9ECFF
$secondary-bg = #BADEFF
$text = #5E3B77
$linktext = #643480

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-02.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-02.svg') repeat
	background-size 20em
