// COLOURS

/*	set the variables, and apply them too */

/*	I’m using fancy colour names for memorability
	It’s too meta to obscure colour names any further for replaceability
	That’s what find-and-replace is for
*/

// 

$cement = #dedede
$wetcement = #d8d8d8
$wettercement = #c5c5c5
$soakedcement = #969696
$tarmac = #424242
$glass = rgba(196,196,196,.8)

$black = #000
$white = #fff

$a4etext = #00642D
$bettertext = #005E8D

body
	background $cement
	color $tarmac
	
a
	color $tarmac
	
nav
	background $wetcement
	
::selection
	background: $white; /* WebKit/Blink Browsers */

::-moz-selection
	background: $white; /* Gecko Browsers */