// 004 PALE GREEN + DARK TEAL TEXT AND TEAL ACCENT
$primary-bg = #DDFFC9
$secondary-bg = #CDFCB8
$text = #005B5C
$linktext = #005F1F
$darklinktext = #132426
$brilliant = #00A02B
$tab-two = #B4EFAD
$tab-three = #8DDF92
$tab-four = #6AD07B
$tab-five = #43C061
$tab-six = #17B047

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-004.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-004.svg') repeat
	background-size 20em
