// 007 PALE YELLOW + GREEN TEXT
$primary-bg = #FBF9A9
$secondary-bg = #EFF092
$text = #215E28
$linktext = #02842A
$darklinktext = #131426
$brilliant = #3882F8
$tab-two = #A7E3F1
$tab-three = #8FCEF3
$tab-four = #72B4F4
$tab-five = #559CF6
$tab-six = #9A6DF9

// add SVG repeating image to background

.site-header
	background $secondary-bg url('/images/tile-04.svg') 20em repeat
	background-size 20em

#content
	background $primary-bg url('/images/tile-04.svg') repeat
	background-size 20em
