// FONTS

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-medium.woff2') format('woff2'),
		url('/fonts/informat-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-mediumit.woff2') format('woff2'),
		url('/fonts/informat-mediumit.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-semibold.woff2') format('woff2'),
		url('/fonts/informat-semibold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-semiboldit.woff2') format('woff2'),
		url('/fonts/informat-semiboldit.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informat-black.woff2') format('woff2'),
		url('/fonts/informat-black.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informat-blackit.woff2') format('woff2'),
		url('/fonts/informat-blackit.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

$font-family = Helvetica, Verdana, sans-serif

$font-family-black = Helvetica, Verdana, sans-serif

html
	font-size 100% // all font sizes and rems scale from here
	line-height 1.4
	
	@media screen and (min-width: 480px)
		font-size 107% // all font sizes and rems scale from here
		
	@media screen and (min-width: 540px)
		font-size 114% // all font sizes and rems scale from here
		
	@media screen and (min-width: 620px)
		font-size 121% // all font sizes and rems scale from here
		
	@media screen and (min-width: 660px)
		font-size 128% // all font sizes and rems scale from here
	
	@media screen and (min-width: 760px)
		font-size 135% // all font sizes and rems scale from here
	
body
	font-family $font-family
	letter-spacing: -0.02em;
	
h1, h2, h3
	font-family $font-family-black
	font-weight: bold
	margin 0
	
h1
	font-size 3em
	
h2
	font-size 2em
	
h3
	font-size 1.5em
	
h4, h5, h6
	font-style italic
	
h4
	font-size 1.25em

h5
	font-size 1.25em

h6
	font-size 1.2em
	
strong
	font-weight bold

em
	font-style italic
	
small
	font-size 1em
	
	a
		text-decoration none
		
blockquote
	font-style italic

.entry-meta
	font-size 1em

.site-footer h3
	font-style italic