// NAKED ELEMENTS

body
	margin 0

p, small
	max-width max-width

figure
	margin 1em 0 1em
	
	a
		display block

img
	margin 1em 0
	max-width 100% // don’t exceed width of viewport
	
	figure &
		margin-bottom 0
		
ul, ol
	margin 1em $layout-unit
	padding-left $layout-unit

blockquote
	margin 1em $layout-unit

// CUSTOM COMPONENTS (CLASSES AND IDs)

// HEADER ////////////////////////////

.site-header
	// to clear contained margins
	padding 0.5em 0

.site-title
	margin-top 0
	
	a
		text-decoration none

// MAIN ////////////////////////////

#content
	// to clear contained margins
	padding 0.5em 0 4.5em

// FOOTER ////////////////////////////
	
.site-footer
	// to clear contained margins
	padding 0.5em 0
		
// when text is smaller, make margin correspond with size
.site-footer p, .site-footer small, .note, figcaption p
	margin-left $layout-unit