max-width = 37em

body
	margin 1em 0
	
h1
	margin-left 0.25em
	margin-right 0.25em
	
h2
	margin-left 0.35em
	margin-right 0.35em
	
h3, h4, h5, h6
	margin-left 0.5em
	margin-right 0.5em

p, small
	margin 0 1em 0.5em 1em
	max-width max-width

// when text is smaller, make margin correspond with size
.site-info p, .site-info small, .note, figcaption p
	margin-left 1.1em