// MEDIA

//
// Set image thumbnail size to 50% of the image size, so it looks nice hi-res
//

// Full size thumbnail size (100%)
img.size-full
	height auto
	width 100%

// Large size thumbnail size (set in WP admin Settings) 1200, 1200
img.size-large
	height auto
	width 600px
	
// Medium size thumbnail size (set in WP admin Settings) 800, 800
img.size-medium
	height auto
	width 400px

// Thumbnail size thumbnail size (set in WP admin Settings) 500, 500
img.size-thumbnail
	height auto
	width 250px

// Project thumbnail size (set in functions.php) 500, 500
