// PROJECTS

.projects-list, .dribbble-shots
	content-block()
	display flex
	flex-flow row wrap
	
	li
		flex 1 1 $x-space*15
		list-style-type none
		height auto
		width $x-space*20
		margin-left 0
		margin-bottom 0
		
		a
			display block
		
		img
			margin 0
			width 100%
			
.dribbble-shots
	li
		margin-right $x-space
		margin-bottom $x-space
		
.single-projects .entry-title
	margin-bottom 0
		
.project-duration
	margin-bottom 0

.project-meta
	border-bottom-style()
	margin-bottom $x-space*2
	
	ul
		margin-top 0
		margin-bottom 0
		padding-left 0
		padding-right 0
		
		@media screen and (min-width: 420px)
			display flex
			flex-direction row
			flex-wrap wrap
			justify-content flex-start
			align-content stretch
			align-items stretch
		
		li
			font-size 0.9em
			list-style-type none
			margin-left 0
			
			@media screen and (min-width: 420px)
				margin-left 0
				flex 0 1 50%
				align-self stretch
				margin-bottom 0
				padding ($x-space/2) 0 $x-space 0
			
			@media screen and (min-width: $bigger-x-space)
				font-size 1em
				
		li.output
			@media screen and (min-width: 420px)
				border-bottom-style()
				flex 1 1 100%
		
		li:nth-of-type(2)
			@media screen and (min-width: 420px)
				border-right-style()
				
		h3
			@media screen and (min-width: 420px)
				padding-bottom ($x-space/2)