/*!
Theme Name:     Laura Kalbag 2016
Theme URI:      http: //laurakalbag.com
Description:    A brand spanking new theme for laurakalbag.com, actually finished in 2017
Author:         Laura Kalbag
Author URI:     http: //laurakalbag.com
Version:        0.1
*/
/*!

             /\_..._/\
             |/ \_/ \|
             | o.-.o |
             \ ( O ) /
             /'--U--'\
             |  .:.  | /\
             | /:;:\ |` /
             | |:;:| |-'
      jgs   /  |'-'|  \
            `""`   `""`

Want to snoop at my stylus? Have a look in the /stylus folder

*/