// FONTS

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-medium.woff2') format('woff2'),
		url('/fonts/informat-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-mediumit.woff2') format('woff2'),
		url('/fonts/informat-mediumit.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-semibold.woff2') format('woff2'),
		url('/fonts/informat-semibold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Informat;
	src:
		url('/fonts/informat-semiboldit.woff2') format('woff2'),
		url('/fonts/informat-semiboldit.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informat-black.woff2') format('woff2'),
		url('/fonts/informat-black.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Informat Black";
	src:
		url('/fonts/informat-blackit.woff2') format('woff2'),
		url('/fonts/informat-blackit.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

$font-family = "Informat", Verdana, sans-serif

$font-family-black = "Informat Black", Verdana, sans-serif

html
	font-size 100% // all font sizes and rems scale from here
	line-height 1.3
	
	@media screen and (min-width: 18em)
		font-size 110% // all font sizes and rems scale from here
		
	@media screen and (min-width: 30em)
		font-size 115% // all font sizes and rems scale from here
		
	@media screen and (min-width: 35em)
		font-size 135% // all font sizes and rems scale from here

body
	font-family $font-family
	letter-spacing -0.02em
	
h1, h2, h3
	font-family $font-family-black
	font-weight bold
	letter-spacing normal
	line-height 1.1
	margin 0 0 0.5em 0
	margin-left $layout-unit
	margin-right $layout-unit
	
h1
	font-size 2.5em
	margin-top 1em
	
	@media screen and (min-width: 35em)
		font-size 4em

h2
	font-size 2em
	margin-top 2em
	
	@media screen and (min-width: 35em)
		font-size 2.5em
	
h1, h1 a, h2, h2 a
	// for really big text or long words
	-ms-word-break break-all
	word-break break-all
	word-break break-word
	-webkit-hyphens auto
	-moz-hyphens auto
	hyphens auto
	
h3
	font-size 1.75em
	margin-top 2em
	
	@media screen and (min-width: 35em)
		font-size 2em
	
h4, h5, h6
	font-style italic
	
h4
	font-size 1.5em
	
	@media screen and (min-width: 35em)
		font-size 1.75em

h5
	font-size 1.25em
	
	@media screen and (min-width: 35em)
		font-size 1.5em

h6
	font-size 1.2em
	
	@media screen and (min-width: 35em)
		font-size 1.25em

p
	margin 0 $layout-unit 0.5em $layout-unit
	
p, a
	// for really long words or URLs
	-ms-word-break break-all
	word-break break-all
	word-break break-word
	-webkit-hyphens auto
	-moz-hyphens auto
	hyphens auto
	
strong
	font-weight bold

em
	font-style italic
	
small
	font-size 0.9em
	
	a
		text-decoration none
		
blockquote
	font-style italic

.entry-meta
	font-size 1.25em
	
figcaption, .site-footer p, .site-footer small, .note
	font-size 0.9em
	
.site-title
	font-style italic
	text-transform uppercase